// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#modal_register .modal-dialog, #modal_login .modal-dialog{
	width: 300px;
}
.navbar{
	min-height: 100px;
}
.navbar-brand{
	height: auto;
}

.navbar-default .navbar-nav>li>a{
	line-height: 100px;
	padding-top: 0;
	padding-bottom: 0;
	color: #337ab7;
}
.navbar-nav.link{
	float:none;
	display: inline-block;
	padding: 25px 0;
}
.navbar-nav.link>li>a{
	line-height: 25px;
}
.form-control{
	// border:none;
	border-bottom: 1px solid #000;
	border-radius:0;
	box-shadow:none;
	&:focus{
		box-shadow:none;
	}
}
select{
	-webkit-appearance: none;
}

